*{

    padding:0;
    margin:0;
    box-sizing: content-box;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;

}

html{

   --Paleblue: hsl(225, 100%, 94%);
    --Brightblue: hsl(245, 75%, 52%);
    --Verypaleblue: hsl(225, 100%, 98%);
    --Desaturatedblue: hsl(224, 23%, 55%);
    --Darkblue: hsl(223, 47%, 23%);




}

body{
    background: var(--Paleblue)  url("images/pattern-background-mobile.svg")  no-repeat;
    background-size:100% auto;
    display:flex;
    flex-direction: column;
justify-content: center;
align-items:center;
height:100vh;
}

.card{
    width:90%;
    max-width:500px;
    border-radius:10px;
    
   
    background: url('images/illustration-hero.svg')  no-repeat;
    background-size:100% auto;
    display:flex;
    flex-direction: column;
    box-shadow: 0.4rem 0.4rem   var(--Verypaleblue);

}

.spacer{
 
    flex-basis: 40%;

}
article{

flex-basis:60%;
display:flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
background-color: white;
margin-top: 12rem;


}


.article--title{

    font-size: 1.5em;
    font-weight: 700;
    margin:1rem;
}

.article--blab{

    font-weight:500;
    text-align: center;
    line-height: 18 0%;
    width:75%;
    margin:auto;
    opacity:40%;
    font-size:1.2rem;
    margin:1rem;
}

.article--price{
display:flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
background-color: var(--Verypaleblue);
border-radius: 3%;
width:75%;
padding: 1rem;
margin:1rem;
}


.article--price--center{
    display:flex;
    margin:1rem;
       flex-direction: column;
}

.article--price--center >   div:first-child{
    font-weight:900;
    color:black;
}

.article--price--center >   div:last-child{
    opacity:0.4;
    padding:0.5em;
}

 .article--price--change >a {
    color:var(--Brightblue);
}

.article--pay{
    color:white;
    font-weight: 900;
    background-color: var(--Brightblue);
    text-align: center;
    font-size:1.2rem;;
    padding: 0.8em  0;
    border-radius:15px;
    width:75%;
    margin:1rem;
    box-shadow: 0 1rem   var(--Verypaleblue) ;


}

.article--canc{width:75%;
padding:2rem;
color:var(--Desaturatedblue);
text-align: center;
font-weight: 600;
font-size:1.2rem;
margin:1rem;




}
@media (min-width: 500px){
    body{
        background: url("images/pattern-background-desktop.svg") no-repeat ;
        background-size:100% 30%;
    
    }  
}